<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珍稀濒危动植物生态与环境保护重点实验室</title>
<link rel="stylesheet" href="../../static/www/css/article.css">
</head>
<body>
    <!--头部-->
    <div class="top">
       <img src="../../static/www/img/top_pic.gif" alt="珍稀濒危动植物生态与环境保护重点实验室" />
    </div>
    <!--导航栏-->
    <div class="nav">
      <ul class="nav_con">
        <li class="tw"><a href="index.html">首页</a></li>
        <li class="fo">|<a href="sysgk.html"><b>实验室概况</b></a></li>
        <li class="fo">|<a href="dtxw.html"><b>动态新闻</b></a></li>
        <li class="fo">|<a href="kxyj.html"><b>科学研究</b></a></li>
        <li class="fo">|<a href="xstd.html"><b>学术梯队</b></a></li>
        <li class="fo">|<a href="yjsjy.html"><b>研究生教育</b></a></li>
        <li class="fo">|<a href="bkjx.html"><b>本科教学</b></a></li>
        <li class="fo">|<a href="lxwm.html"><b>联系我们</b></a></li>
      </ul>
    </div>
    <!--所在位置-->
    <div class="locat">
      <div class="locat_text">
      您现在的位置：<a href="index.html">首页</a> > <a href="dtxw.html">动态新闻</a> > <a href="xrld.html">实验室新闻</a> >
      </div>
    </div>
    <!--主体部分-->
	<div class="main">
      <!--这里是左边-->
	  <div class="left">
	    <div class="shiyan">
		   <div class="tu">
           <img src="../../static/www/img/sysgk1.jpg"/>
		   </div>
		   <div class="wen">
             <div class="ww">
               <ul>
                 <li><a href="#">实验室简介</a></li>
                 <li><a href="#">现任领导</a></li>
               </ul>
             </div>
		   </div>
           <div class="tu">
           <img src="../../static/www/img/dtxw1.jpg"/>
		   </div>
		   <div class="wen">
		    <div class="ww">
               <ul>
                 <li><a href="#">实验室新闻</a></li>
                 <li><a href="#">通知公告</a></li>
                 <li><a href="#">专题活动</a></li>
               </ul>
             </div>
		   </div>
		   <div class="tu">
           <img src="../../static/www/img/kxyj1.jpg"/>
		   </div>
		   <div class="wen">
		    <div class="ww">
               <ul>
                 <li><a href="#">论文专著</a></li>
                 <li><a href="#">科研项目</a></li>
                 <li><a href="#">研究成果</a></li>
                 <li><a href="#">学术交流</a></li>
               </ul>
             </div>
		   </div>
		   <div class="tu">
           <img src="../../static/www/img/xstd1.jpg"/>
		   </div>
		   <div class="wen">
		    <div class="ww">
               <ul>
                 <li><a href="#">科研队伍</a></li>
                 <li><a href="#">招聘信息</a></li>
               </ul>
             </div>
		   </div>
		   <div class="tu">
           <img src="../../static/www/img/yjsjy1.jpg"/>
		   </div>
		   <div class="wen">
		    <div class="ww">
               <ul>
                 <li><a href="#">招生信息</a></li>
                 <li><a href="#">毕业研究生</a></li>
                 <li><a href="#">在校研究生</a></li>
               </ul>
             </div>
		   </div>
		   <div class="tu">
           <img src="../../static/www/img/bkjx1.jpg"/>
		   </div>
		   <div class="wen">
		     <div class="ww">
               <ul>
                 <li><a href="#">专业介绍</a></li>
                 <li><a href="#">培养方案</a></li>
                 <li><a href="#">课程介绍</a></li>
               </ul>
             </div>
		   </div>
		 </div>
	  </div>
      <!--实验室的内容-->
      <div class="content">
        <div class="con_text">
          <div class="f1">文章标题</div>
          <div class="f2">点击数：#     <span>发布时间：#</span></div>
          <hr />
          <div class="f3">
            <p>这7名教授分布在电气与电子工程、计算机科学、控制与系统工程、医学等4个学科。其中电气与电子工程学科入选者是夏香根教授和邢孟道教授；计算机科学学科入选者是高新波教授、焦李成教授和公茂果教授；控制与系统工程学科入选者是李志武教授；医学学科入选者是田捷教授。</p>
            <p>“2015年中国高被引学者榜单”的研究数据来自爱思唯尔旗下的Scopus数据库。该数据库是全球最大的同行评议学术论文索引摘要数据库，提供了海量与科研活动有关的文献、作者和研究机构数据，使得对中国学者的世界影响力进行科学分析和评价成为可能。</p>
            <p>“中国高被引学者”的遴选标准是，研究者作为第一作者和通讯作者发表论文的被引总次数在本学科所有中国（大陆地区）的研究者中处于顶尖水平，它基于客观引用数据对中国研究者在世界范围内的影响力进行了系统的分析，并将1744名最具世界影响力的中国学者呈现给学术界和公众。</p>
            <p>
            <strong>相关连接：</strong>
            http://china.elsevier.com/ElsevierDNN
            </p>
          </div>
        </div>
      </div>
    </div>
      <!--底部-->
    <div class="footer">
      <div class="f">
             CopyRight 版权所有© 广西师范大学计算机科学与信息工程学院 地址：广西桂林市七星区育才路15号-计算机科学与信息工程学院 <br>
             电话：0773-5816858(育才校区院办) 0773-3698036(雁山校区院办)<br>       
      </div>
    </div>
</body>
</html>