</div>
</div>
</div>
<hr>
<footer>
	<p>&copy; Vincent Gabriel 2013</p>
</footer>
</div>
<!--/.fluid-container-->
<script src="/Public/vendors/jquery-1.9.1.min.js"></script>
<script src="/Public/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public//easypiechart/jquery.easy-pie-chart.js"></script>
<script src="/Public/assets/scripts.js"></script>
<script>
	$(function() {
	            // Easy pie charts
	            $('.chart').easyPieChart({animate: 1000});
	        });
</script>
</body>

</html>