<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珍稀濒危动植物生态与环境保护重点实验室</title>
<link rel="stylesheet" href="__STATIC__/css/sysgk.css">
</head>
<body>
    <!--头部-->
   <include file="Public:sidebar"  title="列表页"/>
      <!--实验室的内容-->
      <div class="content">
        <div class="con_text">
          <div class="d1">联系我们</div>
          <hr>
          <div class="d2">
            <p>联系地址：广西桂林市育才路15号 广西师范大学 邮编：541004</p>
            <p>办公室电话：</p>
            实验室主要负责人梁士楚教授办公室：0775-4653223<br />
            计算实验室：0775-6242422<br />
            博士生办公室：0775-4631113<br />
            研究生办公室：0775-4687523<br />
            </p>
            <p>E-mail:gxnu@163.com</p>
          </div>
        </div>
      </div>
    </div>
      <!--底部-->
<include file="Public:footer"  title="底部"/>