<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珍稀濒危动植物生态与环境保护重点实验室</title>
<link rel="stylesheet" href="__STATIC__/css/sysgk.css">
</head>
<body>
    <!--头部-->
<include file="Public:sidebar"  title="列表页"/>
      <!--实验室的内容-->
<include file="Public:change2"  title="内容列表页"/>

      <!--实验室的内容-->

<include file="Public:footer"  title="底部"/>
