* {
	margin:0;
	padding:0;
	}
body {
    font-family: "宋体";
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.top{
     width:1000px;
	 margin:0 auto;
}
.top img{
     width:1000px;
	 border:0px;
}
.nav{
     margin:0 auto;
	 width:1000px;
	 padding:0px;
	 font-size:13px;
	 font-weight:bold;	 
	 height:35px;
	 vertical-align:middle;
	 color:#FFFFFF;
	 background:#333333;
}
.nav .nav_con{
     list-style-type:none;
	 display:block;
	 margin:0 auto;
	 padding:0px;
	 width:980px;
	 text-align:center;
}
.nav .nav_con li{
     float:left;
	 padding:10px;
	 margin:0px;
}
.nav .nav_con li a:link, li a:visited{
     color:#ffffff;
	 text-decoration:none;
}
.nav .nav_con li a:hover{
     color:#FFCC00;
	 text-decoration:none;
}
.nav .nav_con .tw{
     width:51px;
	 text-align:center;
}
.nav .nav_con .fo{
     width:88px;
	 text-align:center;
}
.nav .nav_con b{
	margin-left:10px;}
a:link {
    color: #333333;
    text-decoration: none;
}
a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
    text-decoration: none;
}
.main{
     width:1000px;
	 height:1000px;
	 border:0;
	 background:#FFFFFF;
	 margin:0 auto;
	 padding-bottom:3px;
}
.main .left{
	width:200px;
	vertical-align:top;
	float:left;
	}
.main .left .shiyan{
    margin-top:5px;
}
.main .left .shiyan .tu{
    margin-top:5px;
    height:44px;
	width:195px;
}
.main .left .shiyan .wen{
	text-align:center;
	}
.main .left .shiyan .wen .ww{
	width:140px;
	margin:0 auto;
    }
.main .left .shiyan .wen li{
   margin:0px;
   border-bottom:1px solid #CCCCCC;
   padding-bottom:0px;
   padding-top:5px;
   list-style:none;
   background:url(../img/dian.jpg) no-repeat;
   background-position:22px 12px;
   padding-left:35px;
   height:30px;
   line-height:30px;
   vertical-align:middle;
    }
.main .left .shiyan .wen li	a:link {
    color: #333333;
    text-decoration: none;
}
.main .left .shiyan .wen li a:visited{
     color: #333333;
	 text-decoration:none;
}
.main .left .shiyan .wen li a:hover{
     color:#FFCC00;
	 text-decoration:none;
}
.main .mid{
	width:505px;
	vertical-align:top;
	float:left;
	}
.main .mid .news{
	margin-top:8px;
	width:480px;
	height:260px;
	border:2px solid #f2f2f2;
	padding:0;
	}
.main .mid .xwdt{
	margin-top:5px;
	
	}
.main .mid .xwdt .tupian{
   margin-top:5px;
   float:left;
}
.main .mid .xwdt .tupian .tu1{
   float:left; 
   width:45px;
}
.main .mid .xwdt .tupian .text1{
   float:left; 
   border-bottom:1px solid #cdcdcd;
   width:386px;
   vertical-align:bottom;
   margin-top:30px;
}
.main .mid .xwdt .tupian .tu2{
   float:left;
   border-bottom:1px solid #cdcdcd;
   vertical-align:bottom;
   margin-top:27px;
}
.main .mid .xwdt .tupian .tu2 img{
	border:0;
}
.main .mid .xwdt .xwlb{
   height:300px;
   width:480px;
   float:left;
}
.main .mid .xwdt .xwlb .list{
	padding-left:30px;
	}
.main .mid .xwdt .xwlb .list li{
   list-style-image:url(../img/xd.jpg);
   list-style-position:inside;
   border-bottom:1px dashed #cccccc;
   margin-top:5px;
   padding:0;
   height:21px;
   width:450px;
}
.main .mid .xwdt .xwlb .list li a:visited{
     color: #333333;
	 text-decoration:none;
}
.main .mid .xwdt .xwlb .list span{
   border-bottom:1px dashed #cccccc;
   height:21px;
   width:80px;
   float:right;
   text-align:right;
   margin-right:5px;
   color:#999999;
}
.main .right{
	margin-top:10px;
	margin-right:5px;
	width:290px;
	vertical-align:top;
	float:right;
	}
.main .right .jianjie{
   width:290px;
   height:460px;
   margin-top:8px;
   border:#accef4 solid 1px;
}
.main .right .jianjie .word{
   width:290px;
   height:25px;
   background:url(../img/pm.jpg);
   float:left;
}
.main .right .jianjie .word .shiyan1{
    color: #006699;
	font-weight: bold;
	margin-left:5px;
	margin-top:5px;
	width:70px;
	float:left;
}
.main .right .jianjie .word .shiyan2{
	margin-top:5px;
    width:50px;
	float:right;
}
.main .right .jianjie .text2{
    width:100%;
	float:left;
}
.main .right .jianjie .text2 .txt_w1{
	width:100%;
	vertical-align:top;
	line-height:19px;
	text-align:left;
	}
.main .right .jianjie .text2 .txt_w1 p{
    vertical-align:top;
	line-height:19px;
	text-indent:2em;
	padding-top:10px;
	padding-left:8px;
	padding-right:8px;
	font-size:12px;
	}
.main .right .jianjie .text2 .txt_w2{
	padding-top:10px;
	width:210px;
	height:120px;
	margin:0 auto;
	}	
.main .right .jianjie .text2 txt_w2 img{
	padding:5px; 
	border:solid 1px #cccccc;
	}

.lianjie{
	width:1000px;
	height:80px;
	background:#FFFFFF;
	padding-bottom:7px;
	margin:0 auto;
	}
.lianjie .lian1{
	width:987px;
	background:#FFFFFF;
	border:0;
	margin:0 auto;
	}
.lianjie .lian1 .lian2{
	width:987px;
	height:25px;
	vertical-align:middle;
	border:#accef4 solid 1px;
	margin:0; 
	padding:0;
	background:url(../../static/www/img/pm.jpg);
	}
.lianjie .lian1 .style1{
	float:left;
	width:80px;
    color:#006699;
	text-align:left;
    font-weight:bold;
	margin-top:6px;
}
.lianjie .lian1 .lian3{
	width:977px;
	float:left;
	border-bottom:#accef4 solid 1px; 
	border-left:#accef4 solid 1px; 
	border-right:#accef4 solid 1px;
	padding-left:5px; 
	padding-right:5px;
	padding-top:7px; 
	padding-bottom:0px;
	text-align:center;
	 }
.lianjie .lian1 .lian3 .lian4{
	width:100%;
	vertical-align:top;
	float:left;
	line-height:20px; 
	padding-top:15px; 
	padding-bottom:10px;
    }
.footer{
	width:1000px;
	border:0px;
	margin:0 auto;
	}
.footer .f{
	width:1000px;
	height:40px;
	border:0;
	text-align:center;
	font-size:12px;
	padding-top:15px;
	padding-bottom:15px;
	}
