body{
	margin:0;
	padding:0;
	}
.news{
	width:480px;
	height:260px;
	margin:0 auto;
	background:#9BB0C1;
	float:left;
     }
.news .new_pic1{
	width:480px;
	height:230px;
	float:left;
	}
.news .new_pic1 .pic1 img{
	 border:#ffffff 1px solid; 
	 width:480px; 
	 height:230px;
	 }	
.news .new_t{
	width:480px;
	height:26px;
	}
.news .new_t .nt1{
	width:290px;
	float:left;
    }
.news .new_t .nt1 .wenzi{
	font-size:14px;
	text-align:center;
	padding-top:6px;
	}
.news .new_t .nt2{
	width:190px;
	float:right;
	padding-top:6px;
    }
.news .new_t .nt2 .lhn{
	border:0;
	padding-top:3px;
    }
.news .new_t .nt2 .lhn .bigon{
	width:15px;
	height:15px;
	background:url(http://img1.qq.com/news/pics/13663/13663208.gif);
	color:#FFF; 
	line-height:15px;
	text-align:center;
	float:left;
	}
.news .new_t .nt2 .lhn .bigoff{
	width:15px;
	background:url(http://img1.qq.com/news/pics/13663/13663209.gif);
	color:#000; 
	line-height:15px;
	text-align:center;
	float:left;
	margin-left:5px;
	}
